name: Unit Test
on:
  pull_request: # プルリクエストが作成されたら起動
    paths: ["go/**/*.go"] # ただしGoのファイル変更時のみ

defaults: # デフォルトシェル. `bash --noprofile --norc -eo pipefail {0}`
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"
          cache: false # 依存がない->go.sumがない->キャッシュキーにならないので一時キャッシュ無効化
      - run: go test go/excellent/*.go # ステップ3: テストの実行
